<table>
  <tr>
    <th>Flight name &nbsp; &nbsp; &nbsp;</th>
    <th>From</th>
    <th>To</th>
    <th>Deaparture Time</th>
    <th>Arrival Time</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

<% @flights.each do |f| %>
    <tr>
        <td><%= f.name %></td>
        <td><%= f.departure_from %></td>
        <td><%= f.arrival_to %></td>
        <td><%= f.departure_time.strftime("%d %b %I:%M %P") %></td>
        <td><%= f.arrival_time.strftime("%d %b %I:%M %P") %></td>
        <td><%= f.price%></td>
        <td><%=button_to "Book now", "/BookTicket", method: :get %></td>
    </tr>
<% end %>
</table>